
body {
  height: 100%; 
  font-family: 'Lobster', cursive;
  background-image: url("../IMAGENES/cesped.gif")
}


.contact_form {  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: white; 
  padding-left: 30px;
  border: 3px solid black 
}


input {
  background-color: white; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: green; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea {
  background-color: white; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: green; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label {
  display: block; 
  float: center;  
}


button {
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: green; 
  border-color: green; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
  font-family: 'Lobster', cursive;
}

button p {
  color: white; 
}


span {
  color: green; 
}


.aviso {
  font-size: 13px;  
  color: black;  
}


h1 {
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: green;
}


h3 {
  font-size: 17px; 
  padding-bottom: 30px;
  color: black;
}


p {
  font-size: 14px; 
  color: black; 
}


::-webkit-input-placeholder {
 color: grey;
}


::-webkit-textarea-placeholder {
 color: grey;
}


.formulario input:focus {
  outline:0;
  border: 3px solid yellowgreen;
}


.formulario textarea:focus {
  outline:0;
  border: 3px solid yellowgreen;
}

